<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/api-docs" target="_blank">Documentation API</a>
    <a href="/auth/logout">Se déconnecter</a>
</nav>

<h1>Ajouter une réservation</h1>

<% if (error) { %>
    <p style="color:red;">
        <%= error %>
    </p>
    <% } %>

        <form action="/reservations" method="POST">
            <div>
                <label>Catway Number</label><br />
                <input type="number" name="catwayNumber" value="<%= form?.catwayNumber || '' %>" required />
            </div>

            <div>
                <label>Client</label><br />
                <input type="text" name="clientName" value="<%= form?.clientName || '' %>" required />
            </div>

            <div>
                <label>Bateau</label><br />
                <input type="text" name="boatName" value="<%= form?.boatName || '' %>" required />
            </div>

            <div>
                <label>Début</label><br />
                <input type="date" name="startDate" value="<%= form?.startDate || '' %>" required />
            </div>

            <div>
                <label>Fin</label><br />
                <input type="date" name="endDate" value="<%= form?.endDate || '' %>" required />
            </div>

            <button type="submit">Créer</button>
            <a href="/reservations">Annuler</a>
        </form>